OWNCLOUD_VERSION=10.8
OWNCLOUD_DOMAIN=localhost:8080
OWNCLOUD_DATA_PATH=/home/user/data
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
HTTP_PORT=8080
OWNCLOUD_CERTIFICATE_DOMAIN=Host(`myowncloud.example.com`)
# Cloudflare config
CLOUDFLARE_EMAIL=email@example.com
CLOUDFLARE_KEY=myapikey
CLOUDFLARE_DOMAIN=example.com
CLOUDFLARE_SUBDOMAIN='myowncloud'
# Traefik config
TRAEFIK_EMAIL=email@example.com
# Duplicity config
LOCAL_BACKUP_PATH=/mnt/backup
DUPLICITY_PASSWORD=pass
DUPLICITY_OFFSITE_DEST=s3://bucket-name
GS_ACCESS_KEY=example-key
GS_SECRET_KEY=example-secret-key
# PiHole config
PIHOLE_PASSWORD=admin
PIHOLE_UPSTREAM_DNS=8.8.8.8;8.8.4.4
LOCAL_IPV4_GATEWAY=192.168.1.1
LOCAL_IPV4_SUBNET=192.168.1.0/24
LOCAL_IPV4=192.168.1.40
LOCAL_IPV6=fd00::  # This should use the expanded form of ipv6
# Webdav settings for Jellyfin
WEBDAV_URL=<webdav url / get this from owncloud's interface>
WEBDAV_USER=<owncloud username>
WEBDAV_PASS=<owncloud password for user>
JELLYFIN_CONFIG_DIR=<where to store config files>
HOST_VIDEO_GID=<GID of the group video on the host Raspberry Pi>

